.district {
    width: 100%;
    // height: 100%;
    background-color: #242B33;
    margin-left: auto;
    margin-right: auto;

    &__description {
        display: block;
        min-height: 358px;
        max-width: 1110px;
        background: #626262; 
        color: #ffffff;
        font-size: 20px;
        margin-top: 100px;
        padding: 15px;
    }
}
