.footer-logo {
    display: inline-block;
    color: #ffffff;
    width: 134px;
    padding-bottom: 100px;

    &__text {
        font-size: 12px;
        padding-top: 12px;
        display: inline-block;
    }

}