.main-menu {
    width: 541px;
    padding-top: 55px;
    margin-left: 0;
    
    &__list {
        display: flex;
        justify-content: space-between;
        font-size: 14px;
        list-style: none;
        margin: 0;
    }

    &__link {
        color: #ffffff;
        text-decoration: none; 
        &:hover {
            text-decoration: underline; 
        }
    }
}