.video {
    width: 100%;
    height: 830px;
    background-color: #242B33;
    position: relative;
    text-align: center;
    img {
        display: block;
        margin-right: auto;
        margin-left: auto;
    }
    
}

// .video-overlay {
//     width: 720px;
//     height: 650px;
//     background: linear-gradient(0deg, rgba(36, 43, 51, 0.8), rgba(36, 43, 51, 0.8));
//     position: absolute;
//     left: 30%;
// }

.play-pic {
    position: absolute;
    text-align: center;
    top: 30%;
    left: 48%;
}