.footer-menu {
    width: 119px;
    height: 140px;
    li {
        padding-bottom: 15px;
    }
    &__list {
        font-size: 14px;
        line-height: 16px;
        letter-spacing: 0.05em;
        list-style: none;
        margin: 0;
    }

    &__link {
        color: #ffffff;
        text-decoration: none; 
        &:hover {
            text-decoration: underline; 
        }
    }

}