@font-face {
    font-family: 'Playfair Display';
    src: url('../fonts/playfair/playfair-display-v20-latin-700.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
  }

@font-face {
    font-family: 'Post No Bills Jaffna SemiBold';
    src: url('../fonts/Post-No-Bills-Jaffna-SemiBold/postnobillsjaffna/PostNoBillsJaffna-SemiBold.ttf') format('ttf');
    font-weight: 600;
    font-style: normal;
}
