/******* Desktop First ********/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {
    
}
/**/

@media only screen and (max-width : 1120px) {
    .s-apartmens {
        &__fotos {
            max-width: 990px;
            margin: 0 auto;
            img {
                width: 450px;
                height: 235px;
            }
        }
        &__foto:nth-child(odd) {
            padding-right: 70px;
        }

        &__text {
            top: 180px; 
            font-size: 22px;
        }
    }

    .overlay {
        background-image: linear-gradient(180deg, rgba(36, 43, 51, 0) 0%, #242B33 100%);
        position: absolute;
        top: 0;
        left: 0;
        width: 450px;
        height: 235px;
    }

    .s-request {
        .container {
            margin: 0 auto;
            max-width: 950px;
            height: 500px;
        }
        &__title {
            padding-top: 100px;
        }
        &__text {
            max-width: 360px;
        }
        &__form {
            width: 590px;
            padding-left: 10px;
            margin-bottom: 200px;
            *:nth-child(odd) {
                margin-right: 70px;
            }
            *:nth-child(even) {
                margin-right: 0;
            }
        }
        &__button {
            margin-left: 0;
        }
    }

    .s-callback {
        &__title {
            margin-left: 70px;
        }
        &__description {
            max-width: 950px;
            margin-top: 50px;
        }
    }

    .descriptions {
        max-width: 950px;
        &__input{
            padding: 10px 28px;;
        }

        &__form {
            max-width: 950px;
            margin: 0 auto;
            // text-align: center;
        }
        &__input {
            margin-right: 20px;
        }
        &__text {
            line-height: 13px;
            font-size: 11px;
            margin-right: 0;
            text-align: center;
            width: 140px;
            height: 50px;
            vertical-align: bottom;
            margin-right: 10px;
            margin-left: 10px;
        }
    }
}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {
    .s-apartmens {
        &__fotos {
            max-width: 768px;
            margin: 0 auto;
            img {
                width: 350px;
                height: 135px;
            }
        }
        &__foto:nth-child(odd) {
            padding-right: 0px;
        }

        &__text {
            top: 180px; 
            font-size: 22px;
        }
    }
}
    
/**/

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {

}
    
    
/**/

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {

}
     
/**/

/* Custom, iPhone Retina */
@media only screen and (max-width : 320px) {

}
    
/**/
