@import "vars";
@import "media";
@import "fonts";

*, *::after, *::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

// body {
//     font-family: $base-font-family;
// }

// h1, h2, h3, h4 {
//     font-family: $font-playfair;
// }

// p {
//     font-family: $font-raleway;
// }

.wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.title {
    color: #d4c17f;
    font-weight: bold;
    font-size: 36px;
}

.input {
    outline: none;
	display: inline-block;
    padding: 14px 22px;
    border: 0;
    background-color: #fff;
    opacity: 0.2;
    // color: #BEBEBE;
	font-family: Raleway, sans-serif;
    box-shadow: none;
    width: 255px;
    height: 50px;
    font-weight: normal;
    font-size: 14px;
    line-height: 27px;
    text-align: center;
    margin-right: 30px;
    &::placeholder {
        color: #BEBEBE;
    }
}

.button {
    width: 255px;
    height: 50px;
    background: #D4C17F;
    outline: none;
    display: inline-block;
    text-align: center;
    color: #ffffff;
    font-weight: bold;
    font-size: 14px;
    line-height: 27px;
    font-family: Raleway, sans-serif;
}

.container {
    max-width: 1110px;
    margin: 0 auto;
}
